<!DOCTYPE html>
<!-- ▒█▀▀▀ ▒█▀▀▀█ ▒█▄░▒█ ▀█▀ ▀▄▒▄▀ -->
<!-- ▒█▀▀▀ ▒█░░▒█ ▒█▒█▒█ ▒█░ ░▒█░░ -->
<!-- ▒█░░░ ▒█▄▄▄█ ▒█░░▀█ ▄█▄ ▄▀▒▀▄ -->
<html lang="en">
<head>
	<title>Neobyte Admin Control Panel - {% block title %}{% endblock %}</title>
</head>
<body>
	{% block head %} {% block scripts %}
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<script type="text/javascript">
	var pageRenderStart = new Date().getTime();
	</script>
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/css/pufferpanel.css" rel="stylesheet">
	<link href="https://neobyte-network.net/assets/favicon/favicon.ico" rel="shortcut icon" type="image/png">
	<link href="https://secure.repo.neobyte-network.net/external-css/stylepanel.css" rel="stylesheet">
	<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js">
	</script> 
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js">
	</script> 
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js">
	</script> 
	<script src="/assets/javascript/admin.min.js">
	</script> 
	<script src="/assets/javascript/bootstrap-notify.min.js">
	</script> {% endblock %} {% endblock %}
	<div class="container">
		<div class="navbar navbar-default" style="margin-top: 30px;">
			<div class="navbar-header">
				<button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="/index">Neobyte Network - Minecraft Panel</a> <a class="navbar-brand-other" href="http://repo.neobyte-network.net/NDS-Backups/">NDS-Backups<b></b></a> <a class="navbar-brand-other" href="http://repo.neobyte-network.net/VNS-Backups/">VNS-Backups<b></b></a> <a class="navbar-brand-other" href="http://secure.repo.neobyte-network.net">Secure Repo<b></b></a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav hidden-md hidden-lg">
					<li>
						<a href="#">Index</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/admin/settings/global">Global Settings</a>
							</li>
							<li>
								<a href="/admin/settings/urls">URL Settings</a>
							</li>
							<li>
								<a href="/admin/settings/email">Email Settings</a>
							</li>
							<li>
								<a href="/admin/settings/captcha">Captcha Settings</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Account Management <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/admin/account">Find Account</a>
							</li>
							<li>
								<a href="/admin/account/new">New Account</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Server Management <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/admin/server">Find Server</a>
							</li>
							<li>
								<a href="/admin/server/new">New Server</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Node Management <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/admin/node">List Nodes</a>
							</li>
							<li>
								<a href="/admin/node/new">Add Node</a>
							</li>
							<li>
								<a href="/admin/node/locations">Manage Locations</a>
							</li>
							<li>
								<a href="/admin/node/plugins">Manage Plugins</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Language <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/language/de">Deutsch</a>
							</li>
							<li>
								<a href="/language/en">English</a>
							</li>
							<li>
								<a href="/language/es">Espa&ntilde;ol</a>
							</li>
							<li>
								<a href="/language/fr">Fran&ccedil;ais</a>
							</li>
							<li>
								<a href="/language/it">Italiano</a>
							</li>
							<li>
								<a href="/language/pl">Polski</a>
							</li>
							<li>
								<a href="/language/pt">Portugu&ecirc;s</a>
							</li>
							<li>
								<a href="/language/ru">&#1088;&#1091;&#1089;&#1089;&#1082;&#1080;&#1081;</a>
							</li>
							<li>
								<a href="/language/se">Svenska</a>
							</li>
							<li>
								<a href="/language/zh">&#20013;&#22269;&#30340;的</a>
							</li>
						</ul>
					</li>
					<li class="hidden-xs hidden-sm">
						<a href="/index"><i class="fa fa-list-alt"></i></a>
					</li>
					<li class="hidden-xs hidden-sm">
						<a href="/auth/logout"><i class="fa fa-power-off"></i></a>
					</li>
					<li class="hidden-md hidden-lg">
						<a href="/index">Server List</a>
					</li>
					<li class="hidden-md hidden-lg">
						<a href="/auth/logout">Logout</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 hidden-xs hidden-sm" id="sidebar_links">
				<div class="list-group">
					<a class="list-group-item" href="/admin/index" id="sidenav_admin-index">Admin Index</a>
				</div>
				<div class="list-group">
					<a class="list-group-item list-group-item-heading" href="#"><strong>Settings</strong></a> <a class="list-group-item" href="/admin/settings/global">Global Settings</a> <a class="list-group-item" href="/admin/settings/urls">URL Settings</a> <a class="list-group-item" href="/admin/settings/email">Email Settings</a> <a class="list-group-item" href="/admin/settings/captcha">Captcha Settings</a>
				</div>
				<div class="list-group">
					<a class="list-group-item list-group-item-heading" href="#"><strong>Account Management</strong></a> <a class="list-group-item" href="/admin/account">Find Account</a> <a class="list-group-item" href="/admin/account/new">New Account</a>
				</div>
				<div class="list-group">
					<a class="list-group-item list-group-item-heading" href="#"><strong>Server Management</strong></a> <a class="list-group-item" href="/admin/server">Find Server</a> <a class="list-group-item" href="/admin/server/new">New Server</a> <a class="list-group-item" href="http://status.ku1.neobyte-network.net">Server Usage</a>
				</div>
				<div class="list-group">
					<a class="list-group-item list-group-item-heading" href="#"><strong>Node Management</strong></a> <a class="list-group-item" href="https://docs.google.com/spreadsheets/d/1Bz4QSJTjcUfTEcHowZ-um6DjNDxpND5GfLdlZVv5XmI/edit?usp=sharing">IP Re-Directions</a> <a class="list-group-item" href="/admin/node">List Nodes</a> <a class="list-group-item" href="/admin/node/new">Add Node</a> <a class="list-group-item" href="/admin/node/locations">Manage Locations</a> <a class="list-group-item" href="/admin/node/plugins">Manage Plugins</a>
				</div>
			</div>{% block content %}{% endblock %}
		</div>
		<div class="footer">
			<div class="row">
				<div class="col-md-8 col-xs-6">
					<br>
					Panel Creation and Patching <a href="https://fonix.online">Fonix</a><br>
					<br>
					Network Hosted by <a href='https://neobyte-network.net'>Neobyte Network</a><br>
				</div>
			</div>
		</div>
	</div>{% block javascript %}{% endblock %} 
	<script type="text/javascript">
	       if($.urlParam('tab') != null){$('#config_tabs a[href="#'+$.urlParam('tab')+'"]').tab('show');}
	       if($.urlParam("error")!=null){var field=$.urlParam("error");var exploded=field.split("|");$.each(exploded,function(key,value){$('[name="'+value+'"]').parent().parent().addClass("has-error")});var obj=$.parseJSON($.cookie("__TMP_pp_admin_updateglobal"));$.each(obj,function(key,value){$('[name="'+key+'"]').val(value)})};
	       for(var queryParameters={},queryString=location.search.substring(1),re=/([^&=]+)=([^&]*)/g,m;m=re.exec(queryString);)queryParameters[decodeURIComponent(m[1])]=decodeURIComponent(m[2]);$("a[data-toggle='tab']").click(function(){queryParameters.tab=$(this).attr("href").substring(1),window.history.pushState(null,null,location.pathname+"?"+$.param(queryParameters))});
	</script>
</body>
</html>